.space{
    margin-right:10px;
}
.error-text {
    flex: 0; 
    color: red;
    font-size: 12px;
  }

  .disign {
    color: white;
    width: 80%; /* Adjust the width as needed */
    max-width: 400px; /* Limit the maximum width if necessary */
    padding: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(3px);
    margin-top: 2%;
  }
@media screen and (max-width: 768px) {
  /* Adjust styles for screens with a maximum width of 768px or smaller */
  .disign {
    width: 90%;
  }
}
.custom-input{
  border-color: rgb(162, 149, 149);
}
.custom-width{
  border-color: rgb(162, 149, 149);
  width: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  padding: 20px;
}

.dropdown {
  margin: 0 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.error-message {
  display: none;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.container.showError .error-message {
  display: block;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  padding: 20px;
}

.button-container {
  margin-top: 20px;
}

  