

<nav class="navbar navbar-expand-lg bg-dark fixed-top" data-bs-theme="dark" *ngIf="isNavigationAllowed()">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
  
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
                  <div class="container-fluid">
                    <input type="checkbox" id="menu-toggle" class="hidden-checkbox">
                    <label for="menu-toggle" class="menu-icon">
                      <div class="bar"></div>
                      <div class="bar"></div>
                      <div class="bar"></div>
                    </label>
                    <!-- Rest of your navbar content -->
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Login</a>
                      <a class="dropdown-item" href="#">Register</a>
                      <a class="dropdown-item" href="#">Help</a>
                    </div>
                  </div>
                </nav>
            </li>
          </ul>
  

          <li class="nav-item">
            <a class="nav-link" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="premium">premium</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li class="nav-item dropend">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Themes
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Light</a></li>
                  <li><a class="dropdown-item" href="#">Dark</a></li>
                </ul>
              </li>
            </ul>
          </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact Us</a>
            </li>
        </ul>
        <form class="mr-auto d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit" fdprocessedid="qpzw9">Search</button>
        </form>
      </div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" *ngIf="!loginStatus" routerLink="/signin" routerLinkActive="active">Sign In</a>
          <a class="nav-link" *ngIf="loginStatus" routerLink="/signout" >Sign Out</a>
        </li>
      </ul>
    </div>
  </nav>
  