body {
    margin: 0;
    padding: 0;
}

.main-container {
    background-color: #000;
    display: flex;
    height: 100vh;
    color: #fff;
}

.left-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

.left-container h1 {
    font-size: 36px;
}

.right-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100%;
}

.right-container img {
    max-width: 100%;
    height: auto;
}
.description {
    text-align: center;
    margin-top: 20px;
}

.btn {
    margin-top: 10px;
}
